@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 226 100% 97%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 217 89% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 226 50% 92%;
    --secondary-foreground: 222 47% 11%;

    --muted: 226 30% 88%;
    --muted-foreground: 222 27% 31%;

    --accent: 217 80% 75%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --success: 148 83% 34%;
    --success-foreground: 0 0% 98%;

    --border: 226 30% 82%;
    --input: 226 30% 85%;
    --ring: 217 89% 60%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;

    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 89% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217 32% 17%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 32% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 217 32% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --success: 148 83% 34%;
    --success-foreground: 0 0% 98%;

    --border: 217 32% 17%;
    --input: 217 32% 17%;
    --ring: 217 89% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
